---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can find my publication list on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->

selected publications<br>
<br>
1. Huang Y, Gao ZY, Ly K*, Lin L*, Lambooij JP, King E, Janssen A, Wei KHC, and Lee YCG. Varying recombination landscapes between individuals are driven by polymorphic transposable elements. doi: https://doi.org/10.1101/2024.09.17.613564 <br>
2. Huang Y and Lee YCG. 2024. Blessing or curse: how the epigenetic resolution of host-transposable element conflicts shapes their evolutionary dynamics. Proceedings B, 291, 20232775. <br>
3. Huang Y, Shukla H, and Lee YCG. 2022. Species-specific chromatin landscape determines how transposable elements shape genome evolution. eLife, 11, e81567. Featured in eLife digest. <br>
4. Huang Y, Lack JB, Hoppel GT*, and Pool JE. 2022. Gene regulatory evolution in cold-adapted fly populations neutralizes plasticity and may undermine genetic canalization. Genome Biology and Evolution, 14, evac050. <br>
5. Huang Y, Lack JB, Hoppel GT*, and Pool JE. 2021. Parallel and population-specific gene regulatory evolution in cold-adapted fly populations. Genetics, 218, iyab077. <br>
6. Huang Y and Agrawal AF. 2016.  Experimental evolution of gene expression and plasticity in alternative selective regimes. PLoS Genetics, 12: e1006336. Recommended by the Peer Community in Evolutionary Biology. <br>
7. Huang Y, Wright SI, and Agrawal AF. 2014. Genome-wide patterns of genetic variation within and among alternative selective regimes. PLoS Genetics, 10: e1004527. <br>